<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
    Hi {{ person }}! Follow actions below to play MadLibs.
<div>
  <form action="/madlib" method="get">
    Please input a color: <input type="text" name="color"> <br><br>
    Please input a noun: <input type="text" name="noun"> <br><br>
    Please input a person: <input type="text" name="person"> <br><br>
    Please input an adjective: <input type="text" name="adjective"> <br><br>
    <!-- <input type="submit"> -->
  
</div>
<p>Please select some nouns: </p>
<div>
    <!-- <input type="checkbox" id="apple" name="noun1">Apple<br>
    <input type="checkbox" id="car" name="noun2">Car<br>
    <input type="checkbox" id="tree" name="noun3">Tree<br> -->
    <input type="submit">
    </form>

</div>

</body>
</html>